@import './../../settings.scss';

.__shape {
    position: fixed;
    bottom: .5rem;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.__shape_i {
    appearance: none;
    background: $c100;
    border: 0;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 0 2rem 2rem 0;
    color: $c400;
    transition: all 150ms ease-in;
    display: inline-block;
    text-align: center;
    margin-right: .5rem;
    small {
        line-height: 2rem;
    }
    &:hover {
        background: $c100_light;
    }
}

.__cont {
    background: $c200_light;
    height: 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
}

.__but {
    height: 2rem;
    color: $c300;
    margin-right: .5rem;
    padding: 0;
    appearance: none;
    background: transparent;
    border: 0;
    outline: 0;

    &:hover {
        color: $c300_light;
    }
    &:last-child {
        margin-right: 0;
    }
}



// Icons
.i_play {
    font-size: 1.5rem;
}
.i_pause {
    font-size: calc(1.5rem - 4px)
}
.i_play:before {
    content: "\e904";
}

.i_pause:before {
    content: "\ea16";
  }