@import './../../settings.scss';

.__shape {
    width: 3.5rem;
    height: 100vh;
    background: $c400;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}

.__li {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
} 

.__au {
    transform: rotate(-90deg);
    display: inline-block;
    width: 8rem;
    text-decoration: none;
    color: $c100;
    transition: color 150ms ease-in;
    &:hover {
        color: $c100_light;
    }
}

.__trig {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: calc(50% - 2rem);
    left: -2rem;
    background: $c400;
    border: 0;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    color: $c100;
    transition: color 150ms ease-in;
    &:hover {
        color: $c400;
        background: $c100;
    }
}

.__rs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.__rsl {
    text-decoration: none;
    color: $c100;
    margin-top: 1rem;
    transition: color 150ms ease-in;
    
    &:hover {
        color: $c100_light;
    }
}


// Icons
.i_menu {
    font-size: 2rem;
}

.i_menu:before {
    content: "\e903";
}

.i_facebook, 
.i_instagram,
 {
    font-size: 1.5rem;
    margin-right: .5rem;
}

.i_vimeo {
    font-size: 1.5rem;
}

.i_facebook:before {
    content: "\e901";
}

.i_instagram:before {
    content: "\ea92";
}
.i_vimeo:before {
    content: "\eaa0";
}