@import './../../settings.scss';

.__shape {
    width: 3.5rem;
    height: 100%;
    background: $c400;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    transition: all ease-in 500ms;
}

.__li {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    transition: all ease-in 500ms;
} 

.__badge {
    position: absolute;
    bottom: .5rem;;
    left: .5rem;
    padding: .25rem;
    background: $c100;
    color: #fff;
    border-radius: 3rem;
}
.__au {
    transform: rotate(-90deg) translateX(-35px);
    display: inline-block;
    width: 6rem;
    text-decoration: none;
    color: $c100;
    transition: color 150ms ease-in;
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    text-align: right;
    cursor: pointer;
    &:hover {
        color: $c100_light;
    }
}

.__trig {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: calc(50% - 2rem);
    left: -2rem;
    background: $c400;
    border: 0;
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    color: $c100;
    transition: all ease-in 500ms;
    z-index: 2;
    outline: 0;
    cursor: pointer;
    &:hover {
        color: $c400;
        background: $c100;
    }
}

.__rs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.__rsl {
    text-decoration: none;
    color: $c100;
    margin-top: 1rem;
    transition: color 150ms ease-in;
    
    &:hover {
        color: $c100_light;
    }
}

.__videos {
    position: fixed;
    width: calc(100% - 3.5rem);
    z-index: 1;
    height: 100%;
    top: 0;
    right: calc(-100% + 3.5rem);
    background: url('./../../Assets/Backgrounds/episodes-mob.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: all ease-in 500ms;
    padding-left: 3rem;

    figcaption {
        margin-top: .5rem;
    }
}

.__vi_li {
    flex-wrap: nowrap;
    width: calc(100%);
    overflow-x: auto;
    touch-action: pan-x;
}

.__ep {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    text-decoration: none;
    margin-right: 1rem;
    color: $c300_light;
}

.__div {
    width: 4rem;
    height: 2px;
    background: $c100;
    display: inline-block;
    margin-bottom: .25rem;
}
.__thumb {
    height: 9.25rem;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    position: relative;
}

.__thumb img {
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}

.__menu_on {
    &.__shape {
        right: calc(100% - 3.5rem);
    }
    .__trig {
        left: 1.5rem;
    }
    .__li {
        visibility: hidden;
        opacity: 0;
    }
    .i_menu:before {
        content: "\e900";
    }
    .__videos {
        right: 0;
        
    }
}


@media screen and (min-width: 1000px) {
    .__videos {
        background: url('./../../Assets/Backgrounds/episodes-desk.jpg')no-repeat;
        background-position: center;
        background-size: cover;
        h3 {
            font-size: 2.5rem;
            line-height: 3rem;
            margin-bottom: 1.5rem;
        }
    }
    .__thumb {
        height: 15.25rem;
    }
    .__ep {
        margin-bottom: 2rem;
    }
}
// Icon

.i_lock {
    font-size: 2rem;

}
.i_lock:before {
    content: "\e902";
  }
.i_menu {
    font-size: 2rem;
}

.i_menu:before {
    content: "\e903";
}

.i_facebook, 
.i_instagram,
 {
    font-size: 1.5rem;
    margin-right: .5rem;
}

.i_vimeo {
    font-size: 1.5rem;
}

.i_facebook:before {
    content: "\e901";
}

.i_instagram:before {
    content: "\ea92";
}
.i_vimeo:before {
    content: "\eaa0";
}