$c100: #c64a3b;
$c100_light: #fe7a66;
$c100_dark: #8f1514;

$c200: #e6dfb6;
$c200_light: #ffffe8;
$c200_dark: #b4ad86;

$c300: #212121;
$c300_light: #525252;
$c300_dark: #000000;

$c400: #fff;

$icons: 'artesanias-icons';
$font-family: 'Noto Sans', sans-serif;
$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
$p: 1rem;
$small: .75rem;
$regular: 400;
$bold: 700;
