@import './settings.scss';
.c100 {
    color: $c100;
}

.c200 {
    color: $c200;
}

.c300 {
    color: $c300;
}

.c300_light {
    color: $c300_light;
}

.c400 {
    color: $c400;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.m_b_16 {
    margin-bottom: 1rem;
}